body{
    margin:40px;
   
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

*{
    /* background-color: rgb(134, 166, 29); */
    
}

#headname
{
    font-style:oblique;
    font-size: 40px;
    text-align: center;
}
#headname::before{
    content:'';
    background: rgb(85, 74, 25);
    height:5px;
    width:250px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    border-radius: 50px;
transform: translateY(46px);
}

#pageimg
{
    border-radius: 50%;
    width:16rem;
    height: 16rem;
    margin-right: 20px;
   
box-sizing: border-box;
}
/* 1st pragraph  */
#header
{
    display: flex;
    flex-wrap: wrap;
}
#aboutsession
{  position: relative;
    float: right;
    font-size: 24px;
    padding-left: 25px;
}
#p2{
    font-size: 24px;
    padding-left: 25px;
   
}
#p3{
    font-size: 24px;
    padding-left: 25px;
   font-family: 'Times New Roman', Times, serif;
}
#p{
    font-size: 24px;
    padding-left: 25px; 
}
ul li{
    font-size: 24px;
}
.title::before{
    content:'';
    background: rgb(55, 25, 85);
    height:5px;
    width:200px;
    
    display:block;
    border-radius: 50px;
transform: translateY(36px);
}
